name: github pages

on:
  workflow_dispatch:
  push:
    branches:
      - main  # Set a branch to deploy
  schedule:
    - cron: '42 */24 * * *'  # Once a day at 42

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod
      - uses: cachix/install-nix-action@v12
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: technote-space/get-diff-action@v4
        with:
          PATTERNS: |
            content/posts/*.md
      - name: build ebooks
        run: nix-shell --run "calibre-debug ./scripts/build-epub.py -- --covers static -o static/ebooks content/posts/${{ env.GIT_DIFF_FILTERED }}"
        if: env.GIT_DIFF && !env.MATCHED_FILES
      - uses: stefanzweifel/git-auto-commit-action@v4
      - name: Build
        run: nix-shell --run "hugo --minify"
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
